@if(confirm.visible()){

<div class="modal d-block" tabindex="-1" style="background: rgba(0,0,0,.5);">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {{confirm.options()?.title}}
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  (click)="confirm.close()">
              </button>
            </div>
            <div class="modal-body">
                <p>
                    {{confirm.options()?.message}}
                </p>
            </div>
            <div class="modal-footer">
                    <button
                        class="btn btn-secondary"
                        (click)="confirm.close()">
                        {{ confirm.options()?.cancelText ?? 'Cancel' }}
                    </button>

                    <button
                        class="btn btn-danger"
                        (click)="confirm.confirm()">
                        {{ confirm.options()?.confirmText ?? 'Delete' }}
                    </button>
              </div>
        </div>
    </div>
</div>

}
