<ul>
    @for(item of menuItems; track item.label){
      <li>
          @if(item.children?.length){
            <button (click)="toggleMenu(item.label)">
                {{item.label}}
                <span>
                @if(expandedMenu() === item.label){
                ▼
                }
                @else{
                ▶
                }
                </span>
             </button>

              @if(expandedMenu() === item.label){
              <ul [@expandCollapse]="'open'">


                  @for(child of item.children; track child.label){
                  <li>
                  <a
                   [routerLink]="child.route"
                   [routerLinkActive]="active"
                  [routerLinkActiveOptions]="{exact:true}"
                  >
                  {{child.label}}
                  </a>
                  </li>
                  }
                </ul>
              }
           }

          @else{
            <a [routerLink]="item.route">
               {{item.label}}
            </a>
            }
            </li>
    }
</ul>
