<mat-nav-list>

    <a
        mat-list-item
        routerLink="/admin/dashboard"
        routerLinkActive="active">

        <mat-icon matListItemIcon>

            dashboard

        </mat-icon>

        <span>

            Dashboard

        </span>

    </a>

    <a
        mat-list-item
        routerLink="/admin/users"
        routerLinkActive="active">

        <mat-icon matListItemIcon>

            people

        </mat-icon>

        <span>

            Users

        </span>

    </a>

    <a
        mat-list-item
        routerLink="/admin/roles"
        routerLinkActive="active">

        <mat-icon matListItemIcon>

            admin_panel_settings

        </mat-icon>

        <span>

            Roles

        </span>

    </a>

</mat-nav-list>
