
    <mat-card class="toolbar">
        <div class="right">
            <input
                    matInput
                    (input)="onSearch($event)"
                    placeholder="Search...">
        </div>
        <div class="left">
            <button
                class="btn btn-success me-2"
                (click)="exportClick.emit()">
              <i class="bi bi-download"></i>
              Export
            </button>
            <button
                class="btn btn-primary"
                (click)="addClick.emit()">
              <i class="bi bi-plus-circle"></i>
              Add New
            </button>
        </div>
    </mat-card>



    <div class="table-responsive">
      <table>
          <thead>
              <tr>
                <th width="70">#</th>
                  @for(column of columns(); track column.field){
                      <th

                          (click)="sort(column)"
                          style="cursor:pointer">
                          {{column.header}}
                          @if(column.sortable){
                              @if(sortField===column.field){

                                  <i
                                      [class]="
                                      sortOrder==='asc'
                                      ?'bi bi-arrow-up'
                                      :'bi bi-arrow-down'">
                                  </i>
                              }
                              @else{
                                  <i class="bi bi-arrow-down-up"></i>
                              }
                          }
                      </th>
                  }
                  <th width="180">
                      Actions
                  </th>
              </tr>
          </thead>
          <tbody>

              @if(loading()){
                  <tr>
                      <td
                          [attr.colspan]="columns().length + 1"
                          class="text-center">
                          Loading...
                      </td>
                  </tr>
              }
              @else if(data().length === 0){
                 <tr>

                      <td
                          [attr.colspan]="columns().length + 1"
                          class="text-center">
                          No Records Found
                      </td>
                  </tr>
              }
              @else{

                  @for(row of data(); track row.id){
                      <tr>
                          <td>
                           {{ getSerialNumber($index) }}
                           </td>
                          @for(column of columns(); track column.field){
                                <td>

                                    @switch(column.type){

                                      @case('tag'){
                                          <span
                                          class="badge"
                                          [class]="row[column.field]
                                          ? column.tag?.activeClass
                                          : column.tag?.inactiveClass">
                                          {{
                                          row[column.field]
                                          ? column.tag?.activeText
                                          : column.tag?.inactiveText
                                          }}
                                          </span>
                                      }

                                      @default{
                                          {{row[column.field]}}
                                      }
                                  }
                                </td>
                          }





                          <td>
                              @for(action of actions(); track action.action){
                                  @if(action.visible ? action.visible(row) : true){
                                <button
                                    class="action-btn"
                                    [class]="getButtonClass(getSeverity(action,row))"
                                    [class.rounded-pill]="action.rounded"
                                    [class]="getSize(action)"
                                    [style.background]="getColor(action,row)"
                                    [disabled]="isDisabled(action,row)"
                                    [matTooltip]="getTooltip(action,row)"
                                    (click)="handleAction(action.action,row)">
                                    @if(isLoading(action,row)){
                                        <span
                                            class="spinner-border spinner-border-sm">
                                        </span>
                                    }@else{
                                        <i [class]="getIcon(action,row)"></i>

                                    }
                                </button>
                                  }
                              }
                          </td>
                      </tr>
                  }
              }
          </tbody>
      </table>
    </div>


<app-pagination
    [pageNumber]="pageNumber()"
    [pageSize]="pageSize()"
    [totalRecords]="totalRecords()"
    (pageChanged)="pageChange.emit($event)">
</app-pagination>
