.upload-box{

border:2px dashed #d8d8d8;

padding:30px;

text-align:center;

border-radius:12px;

cursor:pointer;

background:#fafafa;

}

.preview{

display:flex;

gap:15px;

margin-top:20px;

flex-wrap:wrap;

}

.item{

position:relative;

}

.item img{

width:120px;

height:120px;

object-fit:cover;

border-radius:10px;

}

.item button{

position:absolute;

top:5px;

right:5px;

}